.navbar{
    background: #ffffff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}

.nav_icon{
    display: none;
}
.nav_icon > i{
    font-size: 26px;
    color: #a5aaad;
}
.navbar__left > a{
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}

.navbar__left .active_link{
    color: #265acc;
    border-bottom: 3px solid;
    padding-bottom: 12px;
}

.navbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__right img{
    border-radius: 50%;
}
.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
}


.navbar__right > a > i{
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 7px;

}

#searchInput {
    width: 60%;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgb(172, 172, 172);
    background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');

    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 8px 10px 8px 50px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;

  }





@media only screen and (max-width: 978px){
    .nav_icon{
        display: inline;
    }
}

@media only screen and (max-width: 978px){
    .navbar__left{
        display: none;
    }
}