#sidebar{
    background:#0c004e;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__title{
    display: flex;;
    justify-content: space-between;
    align-items: center;
    color: #fef4f6;
    margin-bottom: 30px;
}
.sidebar__img{
    display: flex;
    align-items: center;
}

.sidebar__title > div > img {
    width: 75px;
    object-fit: contain;
}

.sidebar__title > div > h1{
    font-size: 48px;
    display: inline;
    position: relative;
    padding-bottom: 20px;
}
.sidebar__title h1:after{
    content: '';
    width: 86px;
    height: 7px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    left: 36%;
    transform: translate(-50%, -50%);
}

.sidebar__title > i{
    font-size: 18px;
    display: none;
}

.sidebar__menu > h2{
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link{
    color:#f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.active_menu_link{
    background: rgba(62, 61, 112, 0.3);
    color: #3ea175;
}

.active_menu_link a{
    color: #3ea175;
}

.sidebar__link a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.sidebar__link i{
    margin-right: 10px;
    font-size: 18px;
}
.sidebar__logout{
margin-top: 20px;
padding: 10px;
color: #e65061;
}

.sidebar__logout a{
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__logout i{
    margin-right: 10px;
    font-size: 10px;
}

.sidebar-responsive{
    display: inline !important;
    z-index: 999 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and (max-width: 978px){
    #sidebar{
        display: none;

    }
    .sidebar__title > i{
        display: inline;
    }
}